# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.next
out
build
.turbo

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/database/prisma/migrations/**/migration_lock.toml

# Uploads
uploads/
exports/

# Extension
apps/browser-extension/dist
